.card-wrapper {
    margin-top: 6rem;
}
.card-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #c4c5c5;
    margin-bottom: 2rem;
}
.signin-wrapper {
    margin-top: 1.2rem;
}
.signin-wrapper span {
    color: #0063d4;
}
.signin-wrapper a {
    font-weight: bold;
    text-decoration: none;
    color: #0063d4;
    margin-left: 10px;
}