.nav-container {
    position: relative;
}
nav {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
nav img {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}
nav p {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding-top: 2.25rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.logout-btn {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 1rem;
}
img.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0063d4;
    height: 3.5rem;
    width: 4rem;
}