* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
small {
    margin: 0;
    padding: 0;
}

ol, 
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #121212;
    font-family: 'Nunito';
    color: #fff
}

.container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;900&display=swap');
